@import "../../vars";

section.welcome{
    height:100vh;
    background-color:#17106a;
    .vimeo-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: -1;
        z-index: 0;
        pointer-events: none;
        overflow: hidden;
        iframe{
            width: 100vw;
            height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
            min-height: 100vh;
            min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


    .content{
        position: relative;
        color: #fff;
        font-family: Roboto;
        padding-top: 15%;
        z-index: 10;
        h1{
            font-size: 4.1vw;
            font-family: 'Rajdhani';
            line-height: 1;
        }
        h2{
            font-size: 2.9vw;
            font-family: 'Rajdhani';
            font-weight: 200;
            margin-bottom: 3%;
        }
        button{
            font-size: 1.8vw;
            color: $btn_blue;
            border:none;
            border-radius: 50px;
            padding: .75% 4.9%;
            font-family: 'BarlowCondensed';
            font-weight: 300;
        }
    }
    @media only screen and (max-width: 900px) {
        min-height: 56.25vw;
        height: 0;
        .vimeo-wrapper{
      
            iframe{
        
            }
        }
        .content{
            text-align: center; 
            padding-top:25%;
            h1{
                font-size: 6vw;
            }
            h2{
                font-size: 4.2vw;
                margin-bottom: 2%;
            }
            button{
                font-size: 3.5vw;
            }
        }   
    }
}

section.solution{

    .flex-image{
        height:23vw;
        .image{
            text-align: right;
            padding-top: 3%;
            padding-right: 5%;
            img{
                width: 67%;
                height: auto;
            }
        }
        .text{
            background-color: #e9f2fd;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding-left:5%;
            h3{
                width:55%;
                font-family: Rajdhani;
                font-weight: 700;
                position: relative;
                span{
                    display: inline-block;
                    margin: 0 2%;
                    img{
                        width:100%;
                        height:auto;
                    }
                }
                span:first-child,
                span:last-child{
                    display: inline-block;
                    height: auto;
                    width: 1.2vw;
                    
                }
                span{
                    font-size: 2.4vw;
                    color:$header_blue;
                }
            }
            p{
                font-size: 1.1vw;
                width: 50%;
                font-family: BarlowCondensed;
                font-weight: 400;
                padding-left: 6.3%;
            }
        }

        @media only screen and (max-width: 900px) {
            height:auto;
            .image{
                text-align:center;
                padding-top: 5%;
                padding-right: 0%;
                img{
                    width:60%;
                }
            }
            .text{
                align-items:center;
                padding-left:0;
                padding: 4% 0;
                h3{
                    text-align: center;
                    width:100%;
                    span{
                        font-size: 7.5vw;
                        margin: 0 1%;
                    }
                    span:first-child,
                    span:last-child{
                        display: inline-block;
                        height: auto;
                        width: 3.5vw;
                        
                    }
                }
                p{
                    font-size: 4vw;
                    width: 62%;
                    padding-left: 0%;
                }

            }
        }
        
    }


    
    .solution-scheme{
        background-image:url(../images/home/solution_bg.png);
        background-size:100%;
        background-repeat: no-repeat;
        background-position: top center;
        .content{
            h3{
                position: relative;
                display:flex;
                align-items: center;
                justify-content: center;
                margin:0 auto;
                text-align: center;
                width:100%;
                font-size:3vw;
                color:White;

                margin-bottom:5%;
                padding-top:5%; 
                span{
                    display: inline-block;
                    margin: 0 1%;
                    img{
                        width:100%;
                        height:auto;
                    }
                }
                span:first-child,
                span:last-child{
                    display: inline-block;
                    height: auto;
                    width: 1.2vw;
                    padding-top:1%;   
                    img{
                        filter: brightness(0) invert(1);
                    }
                    
                }
            }
            .items{
                display:flex;
                flex-flow:row nowrap;
                justify-content: space-between;
                padding-bottom: 5%;
                .item{
                    width:20%;
                    text-align: left;
                    color:white;
                    .image-container{
                        height: 75px;
                        display: flex;
                        align-items: center;
                        img{
                            filter: brightness(0) invert(1)
                        }
                    }
                    .title{
                        font-size:1.3vw;
                    }
                    p{
                        font-size:1vw;
                        
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 900px) {
    .solution-scheme{
        background-size: cover;
        height:100%;
            .content{
                h3{
                    font-size: 7.5vw;
                    span:first-child,
                    span:last-child{
                        display: inline-block;
                        height: auto;
                        width: 3.5vw;
                        img{
                            filter: brightness(0) invert(1);
                        }
                        
                    }
                }
                .items{
                    flex-flow:column;
                    .item{
                        width:100%;
                        text-align: center;
                        margin-bottom: 10%;
                        .image-container{
                            justify-content: center;
                        }
                        .title{
                            font-size: 5vw;
                        }
                        
                        p{
                            font-size: 4vw;
                            width: 80%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }    
}

section.industries{
    background-image:url(../images/home/industries_bg.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top center;
    .content{
        text-align: center;
        .items{
            display:flex;
            flex-flow:row nowrap;
            justify-content: space-between;
            .item{
                img{
                    z-index: 2;
                }
                span{
                    display:block;
                    margin-top:0%;
                    z-index: 10;
                    background-color:tomato;
                }
            }
        }
    }
}