

// // Roboto
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}


// Rajdhani
@font-face {
    font-family: "Rajdhani";
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Rajdhani/Rajdhani-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Rajdhani";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Rajdhani/Rajdhani-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Rajdhani";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Rajdhani";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Rajdhani/Rajdhani-Bold.ttf) format("truetype");
}

// Barlow Condensed

@font-face {
    font-family: "BarlowCondensed";
    font-weight: 200;
    font-style: normal;
    src: url(../fonts/Barlow_Condensed/BarlowCondensed-Light.ttf) format("truetype");
}
@font-face {
    font-family: "BarlowCondensed";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "BarlowCondensed";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "BarlowCondensed";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf) format("truetype");
}